<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>openpage</title>
    <link rel="stylesheet" href="style.css">
</head>

<body style="text-align:center;background-image:url('C:\Users\91628\Documents')">
<h2 style="text-align:center;"> REGISTRATION LOGING PAGE</h2>
<form action="register" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username" ><br>
    <input type="text" name="first_name" placeholder="first_name" ><br>
    <input type="text" name="last_name" placeholder="last_name" ><br>
    <input type="email" name="email" placeholder="email" ><br>
    <input type="password" name="password" placeholder="password" ><br>
    <input type="password" name="conform password" placeholder=" conform password" ><br>
    <input type="submit">


</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>